<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http#{//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.mis.dao.PaymentMapper">

<!--    根据dormid查询缴费记录并分页-->
<!--    Page<Payment> getPaymentInfo(Page<Payment> page, String dormid);-->
    <select id="getPaymentInfo" resultType="Payment">
        SELECT stu_id,water_bill,elec_bill,pay_datetime
        FROM payment
        WHERE dorm_id LIKE "%"#{dormid}"%"
    </select>

<!--    分页列表 根据年月模糊查询宿舍缴费信息-->
<!--    Page<Payment> getPaymentByDate(@Param("page") Page<Payment> page, @Param("year") String year, @Param("month") String month);-->
    <select id="getPaymentByDate" resultType="Payment">
        SELECT stu_id,water_bill,elec_bill,pay_datetime
        FROM payment
        WHERE pay_datetime LIKE "%"#{ym}"%"
    </select>

</mapper>
