<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http#{//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.mis.dao.StudentMapper">

<!--    根据stuid模糊查询学生个人信息并分页-->
<!--    Page<Student> getStuById(@Param("page") Page<Student> page,@Param("stuid") String stuid);-->
    <select id="getStuById" resultType="Student">
        SELECT stu_id,stu_name,sex,age,grade,major
        FROM student
        WHERE stu_id LIKE "%"#{stuid}"%"
    </select>

<!--    根据stuname模糊查询学生个人信息并分页-->
<!--    Page<Student> getStuByName(@Param("page") Page<Student> page,@Param("stuname") String stuname);-->
    <select id="getStuByName" resultType="Student">
        SELECT stu_id,stu_name,sex,age,grade,major
        FROM student
        WHERE stu_name LIKE "%"#{stuname}"%"
    </select>

<!--    根据dormid模糊查询住宿人员名单并分页-->
<!--    Page<Student> getStuByDormid(@Param("page") Page<Student> page,@Param("dormid") String dormid);-->
    <select id="getStuByDormid" resultType="Student">
        SELECT stu_id,stu_name,sex,age,grade,major
        FROM student
        WHERE dorm_id LIKE "%"#{dormid}"%"
    </select>

<!--    判断用户是否存在-->
<!--    Boolean checkUserExist(@Param("uid") String uid);-->
    <select id="checkUserExist" resultType="String">
        SELECT EXISTS(SELECT 1 FROM student WHERE stu_id = #{uid})
    </select>

<!--    用户登陆-->
<!--    Boolean userLogin(@Param("uid") String uid,@Param("pwd") String pwd);-->
    <select id="userLogin" resultType="java.lang.Boolean">
        SELECT IF(
            EXISTS( SELECT * FROM student
            WHERE stu_id = #{uid} AND pwd = #{pwd}), 1, 0)
        AS result
    </select>

</mapper>